@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    /* poppins-300 - latin */
    @font-face {
        font-display: swap;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        src: local('Poppins Light'), local('Poppins-Light'),
            url('/fonts/poppins-v20-latin-300.woff2') format('woff2');
    }

    /* poppins-regular - latin */
    @font-face {
        font-display: swap;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        src: local('Poppins Regular'), local('Poppins-Regular'),
            url('/fonts/poppins-v20-latin-regular.woff2') format('woff2');
    }

    /* poppins-600 - latin */
    @font-face {
        font-display: swap;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        src: local('Poppins SemiBold'), local('Poppins-SemiBold'),
            url('/fonts/poppins-v20-latin-600.woff2') format('woff2');
    }

    * {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold
    }

    h1 {
        @apply text-xxl
    }

    h2 {
        @apply text-xl
    }

    h3 {
        @apply text-lg
    }

    h4 {
        @apply text-base
    }

    h5 {
        @apply text-sm
    }

    h6 {
        @apply text-xs
    }
}