.slick-dots {
    list-style: none;
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;

    li {
        background: #FAFAFA;
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0.3rem;
        cursor: pointer;

        &.slick-active {
            background: #F231A5;
        }
    }

    button {
        opacity: 0;
        width: 0.75rem;
        height: 0.75rem;
        cursor: pointer;
    }
}

@media (min-width: 1024px) {
    .banner {
        max-width: 65rem;
        margin: 0 auto;
    }

    .slick-dots {
        position: absolute;
        right: 0;
        flex-direction: column;
        height: 100%;
        top: 0;
        margin: 0;

        li {
            margin: 0.5rem 0;
        }
    }
}